<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.confeitaria_marketplace">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:label="Confeitaria Marketplace"
        android:icon="@mipmap/ic_launcher"
        android:name="${applicationName}">

        <!-- ✅ CHAVE DO GOOGLE MAPS AQUI -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDV995FdwdoxaCiayE__Ym3cZePyhWBd6k" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>

